<div class="container" id="lab">
  <section>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img src="{{ index .Params.imagenes 0 "ruta" }}" class="img-responsive" alt="Imagen 1">
      </div>
      <div class="col-xs-12 col-sm-6">
        {{ .Content }}
        {{ range $i, $imagen := .Params.imagenes }}
        <div class="row">
          <div class="col-xs-6">
            <img src="{{ $imagen.ruta }}" class="img-responsive" alt="Imagen {{ if eq (mod (add $i 1) 2) 0 }}2{{ else }}{{ add $i 2 }}{{ end }}">
            <p>{{ $imagen.texto }}</p>
          </div>
          {{ if mod (add $i 1) 2 | eq 0 }}
          </div>
        </div>
        <div class="row">
          {{ end }}
        {{ end }}
      </div>
      <!-- material -->
{{ if site.Data.homepage.material.enable }}
{{ with site.Data.homepage.material }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .subtitle | markdownify }}</p>
      </div>
    </div>
    <div class="row">
      {{ range .materialItem }}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card border-0 text-center">
          <img src="{{ .image | absURL }}" alt="material" class="card-img-top border-0">
          <div class="card-body">
            <h4>{{ .title | markdownify }}</h4>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /material -->
    </div>
  </section>
</div>

